<app-title
  [nombre]="title"
></app-title>
<div class="width-70 center margin-top20">
  <section id="inicio">
    <h3>Introducción</h3>
    <p>La industria del software está avanzando de manera exponencial, ya que actualmente las empresas dependen del uso de las plataformas y entornos digitales para gestionarse y organizarse adecuadamente. Incluso aquellas empresas tradicionales que llevan tiempo en el mercado optan por migrar los procesos manuales a un software ya que estas herramientas facilitan muchas de las operaciones que se realizan a diario en cualquier compañia, independientemente del tamaño.</p>
    <p>Pero, ¿cómo se desarrolla el software? La programación es la forma de desarrollar software de manera profesional.</p>
    <p>Hay muchos tipos de programación; desde arrastrar en scratch para crear juegos hasta escribir tu propio código desde cero en un lenguaje de programación específico.</p>
    <p>Te damos la bienvenida a <strong>AprendeProgramacion</strong>, donde aprenderás los conceptos basicos de la Programacion, las estructuras de control, ciclos y mucho mas.</p>
    <p>Empezaremos desde lo mas basico como lo son las variables y llegaremos a un nivel en el que podrás crear algoritmos complejos utilizando la recursividad. Y, ¿por que no? Programacion Orientada a Objetos.</p>
    <p class="cita">“La industria del desarrollo es una industria rota,
      no es perfecta. por eso nunca debes parar de aprender”<span class="autor">Freddy Vega, CEO y cofundador de PLATZI</span></p>
  </section>
</div>
