<app-title
  [nombre]="title"
></app-title>
<div class="width-70 center margin-top20">
  <section id="inicio">
    <h3>Hola</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos unde, dolor possimus inventore aspernatur perferendis est vitae tempore. Facilis, inventore eligendi temporibus rem itaque labore ad similique! Veritatis, praesentium rem?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos unde, dolor possimus inventore aspernatur perferendis est vitae tempore. Facilis, inventore eligendi temporibus rem itaque labore ad similique! Veritatis, praesentium rem?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos unde, dolor possimus inventore aspernatur perferendis est vitae tempore. Facilis, inventore eligendi temporibus rem itaque labore ad similique! Veritatis, praesentium rem?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos unde, dolor possimus inventore aspernatur perferendis est vitae tempore. Facilis, inventore eligendi temporibus rem itaque labore ad similique! Veritatis, praesentium rem?</p>
    <p class="cita">"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda beatae temporibus sequi incidunt aperiam magni corrupti distinctio, amet quia nostrum, explicabo deserunt fugiat autem ad consequatur, voluptate inventore quam eligendi."</p>
  </section>
</div>
