<section class="tema">
  <h3>Introduccion a GitHub</h3>
  <p>
    GitHub es una plataforma web que le permite a los desarrolladores publicar sus proyectos de una manera sencilla, ya que ofrece una gran cantidad de herramientas como lo son la posibilidad de trabajo colaborativo, pull requests, manejo y proteccion de ramas, entre otras funcionalidades.
  </p>
  <p>
    Su principal caracteristica es su compatibilidad con Git, ya que permite publicar los repositorios de nuestro computador para mostrarlos a la comunidad. Esto permite, no solo la colaboracion de la comunidad en los proyectos, sino tambien crear un portafolio de proyectos para mostrar tus conocimientos en algún campo de la programacion.
  </p>
  <p>
    A partir de ahora vas a aprender a usar github para trabajar tanto de manera individual como de manera colaborativa con otros usuarios.
  </p>
  <div class="video-complete">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/aphYqvcCXSk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</section>
