<section class="tema">
  <h3>Editores de Código e IDEs</h3>
  <p>Los editores de código son los mejores amigos del programador, ya que es la herramienta que le va a facilitar el trabajo de leer el código y escribirlo, ya que se pueden dotar de distintas extensiones para mejorar la productividad de un desarrollador.</p>
  <p>Además, existe un hecho en el mundo de la programación y el desarrollo, y es que como profesionales, pasamos el 80% del tiempo leyendo código, y solo el 20% del tiempo lo dedicamos a escribir. Y es que cuando los proyectos se hacen más grandes, requerimos de más tiempo para encontrar errores del que usamos al escribir.</p>
  <p>Es por este motivo que los editores de código son tan importantes. Nos ayudan a mantener un código más agradable a la vista, aunque también debes colocar un poco de esfuerzo para mantener un código limpio y ordenado. Recuerda que los bugs no son sencillos de encontrar, y depende de nosotros el facilitar o hacer más difícil este proceso.</p>
  <p>
    Anteriormente aprendimos a descargar Visual Studio Code, un editor de código excelente para comenzar a programar, así que a continuación te dejaré algunas extensiones muy útiles para este editor.
  </p>
  <br><br>
  <ol class="ordered">
    <li>C/C++</li>
    <li>LangSyntax</li>
    <li>vsc-runner</li>
    <li>Live Server</li>
    <li>Live Share</li>
    <li>Tabnine AI</li>
  </ol>
</section>
