<aside id="temas">
  <section id="basics">
    <button class="titulo-tema" (click)="toggleBasics()">Basico</button>
    <ul [class]="basicsClass">
      <li><a [routerLink]="['/temas/a']"><span>¿Que es la programacion?</span></a></li>
      <li><a [routerLink]="['/temas/a']"><span>Tipos de lenguajes</span></a></li>
      <li><a [routerLink]="['/temas/a']"><span>Editores de codigo - IDE</span></a></li>
      <li><a [routerLink]="['/temas/a']"><span>Salida estandar</span></a></li>
      <li><a [routerLink]="['/temas/a']"><span>variables</span></a></li>
      <li><a [routerLink]="['/temas/a']"><span>entrada estandar</span></a></li>
      <li><a [routerLink]="['/temas/a']"><span>operadores aritmeticos</span></a></li>
      <li><a [routerLink]="['/temas/a']"><span>operadores logicos</span></a></li>
      <li><a [routerLink]="['/temas/a']"><span>condicionales</span></a></li>
      <li><a [routerLink]="['/temas/a']"><span>Arreglos y matrices</span></a></li>
      <li><a [routerLink]="['/temas/a']"><span>ciclos while</span></a></li>
      <li><a [routerLink]="['/temas/a']"><span>ciclos for</span></a></li>
      <li><a [routerLink]="['/temas/a']"><span>funciones y procedimientos</span></a></li>
      <li><a [routerLink]="['/temas/a']"><span>librerias</span></a></li>
    </ul>
  </section>
  <section id="tecnicas">
    <button class="titulo-tema" id="btn2" (click)="toggleTech()">Tecnicas</button>
    <ul [class]="techClass">
      <li><a [routerLink]="['/temas/a']"><span>Arreglos</span></a></li>
      <li><a [routerLink]="['/temas/a']"><span>Fuerza bruta</span></a></li>
      <li><a [routerLink]="['/temas/a']"><span>Recursividad</span></a></li>
      <li><a [routerLink]="['/temas/a']"><span>Dividir</span></a></li>
    </ul>
  </section>
</aside>
