<div class="reto">
  <div class="content">
    <div class="title">
      <h3>Calcular definitiva</h3>
      <button class="btn-cerrar" (click)="close()"><img src="assets/img/icons/close.png" alt=""></button>
    </div>
    <hr>
    <div class="description">
      <p>Escribir un programa que calcule la nota definitiva de un alumno que ingresa sus tres notas (entre 0 y 5). El criterio para aprobar es que la nota definitiva sea mayor o igual a 3, si es menor que tres el alumno reprobó. Mostrar por pantalla si el alumno aprobo o reprobó la materia.</p>
    </div>
    <button class="solucion" (click)="solution()">SOLUCION</button>
    <div class="image-complete" *ngIf="sol">
      <img src="assets/img/retos_basico_def.png" alt="solucion nota definitiva">
    </div>
  </div>
</div>
