<section class="tema">
  <h3>Operadores Aritmeticos</h3>
  <p>Con la programación también podemos realizar operaciones matemáticas básicas, como la suma, resta, multiplicación y división.</p>
  <p>A partir de estas cuatro operaciones junto con el modulo (lo vamos a explicar bien un poco mas adelante), podemos crear otros algoritmos mas complejos como lo son por ejemplo potencias.</p>
  <p>A continuación te explico como puedes usar los operadores aritméticos y el módulo en un programa.</p>
  <div class="video-complete">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/bHqNURY3KMc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <p>También existe un orden para resolver las operaciones:</p>
  <ol class="ordered">
    <li>( )</li>
    <li>* / %</li>
    <li>+ -</li>
  </ol>
  <p>No solo podemos hacer operaciones aritméticas, sino que también podemos asignar valores a las variables con base en estos operadores. A estos nuevos tipos de operadores se les conoce como operadores de asignación.</p>
  <div class="video-complete">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/yrNpvey2kJ0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <p>Los operadores de asignación nos ayudan a cambiar el valor de las variables de manera sencilla, ya que acortan la manera como se escriben las operaciones.</p>
</section>
