<section class="tema">
  <h3>Ciclos For</h3>
  <p>Los ciclos for nos permiten repetir instrucciones una cantidad determinada de veces. A diferencia del ciclo while, debo saber cuantas veces se tiene que repetir.</p>
  <p>La estructura del for es un poco diferente, ya que dentro de los parentesis no solo hay que especificar la condiccion para que se repita, sino que tambien debemos especificar una variable iteradora, es decir una variable que cambia su valor por cada repeticion del ciclo.</p>
  <div class="video-complete">
    <iframe width="782" height="384" src="https://www.youtube.com/embed/jsm656Pnhcw" title="Ciclos For en C++ | Programación desde 0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <br>
  <h3>Cuando utilizar WHILE o FOR</h3>
  <p>Esta es una de las grandes confusiones a la hora de trabajar con ciclos, ya que de cierto modo nos acostumbramos a usar uno, o simplemente no sabemos cual usar.</p>
  <p>Existe un criterio para saber cual es el mejor tipo de ciclo. Consiste en saber el proposito del ciclo, es decir, si sabemos la cantidad de veces que se va a ejecutar el ciclo o no.</p>
  <p>Si el numero de iteraciones es conocida, el mejor ciclo es FOR. Por ejemplo para recorrer un vector, ya que los vectores tienen un tamaño, ese tamaño es la cantidad de iteraciones que debemos hacer.</p>
  <p>Cuando la cantidad de iteraciones es indefinida, es mejor el ciclo WHILE. Por ejemplo cuando el usuario ingresa numeros, y para detenerse debe ingresar -1. En este caso el usuario puede ingresar dos numeros antes del -1, o puede ingresar un millon de numeros.</p>
</section>
