<app-title
[nombre]="title"
></app-title>
<div class="width-70 center margin-top20">
  <section id="about">
    <h3>Acerca de</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos unde, dolor possimus inventore aspernatur perferendis est vitae tempore. Facilis, inventore eligendi temporibus rem itaque labore ad similique! Veritatis, praesentium rem?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos unde, dolor possimus inventore aspernatur perferendis est vitae tempore. Facilis, inventore eligendi temporibus rem itaque labore ad similique! Veritatis, praesentium rem?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos unde, dolor possimus inventore aspernatur perferendis est vitae tempore. Facilis, inventore eligendi temporibus rem itaque labore ad similique! Veritatis, praesentium rem?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos unde, dolor possimus inventore aspernatur perferendis est vitae tempore. Facilis, inventore eligendi temporibus rem itaque labore ad similique! Veritatis, praesentium rem?</p>
  </section>
</div>
