<div class="width-70 center margin-top20">
  <section id="about">
    <h3>Acerca de</h3>
    <p>Antes que nada me presento...
      Me llamo Pablo Uribe Zuluaga. Soy estudiante de Ingeniería de Sistemas en la Universidad Autonoma de Manizales.</p>
    <p>En mi tiempo en la universidad, he tenido la oportunidad de ser monitor de Lógica de Programación para asesorar a los estudiantes de Ingeniería de Sistemas e Ingeniería Biomédica que recien inician en primer semestre. Esta labor es muy importante, ya que es ahi donde se construyen las bases de la programcion que se trabaja a lo largo de la carrera.</p>
    <p>La programacion es el proceso de llevar una idea tecnologica hacia su existencia, pero como todo proceso, tiene sus altibajos, sus frustraciones y sus victorias. Lo que realmente importa es como las manejamos.</p>
    <p>Durante mi segundo semestre tuve la oportunidad de participar de un semillero. Iniciativa por parte del profesor Jorge Ivan Meza, que buscaba crear un espacio similar a los semilleros de investigación que propone la universidad, pero que pudieran ser desarrollados por estudiantes de primer y segundo semestre.</p>
    <p>La idea era crear un sitio web utilizando HTML, CSS y BOOTSTRAP, para enseñar a las personas diferentes temas.</p>
    <p>De ahí surge la página <a class="keyword" href="https://pablouz.github.io/ProgramacionDesde0" target="_blank">Programacion desde 0</a>, donde se explican las bases de la programacion.</p>
    <p>A partir de dicha pagina, me propuse mejorarla utilizando Angular, un framework de javascript para web muy potente.</p>
    <p>Probablemente en el futuro le haga un backend con un banco de preguntas y quizzes para estudiar.</p>
    <p class="cita">“La virtud mas grande de un programador es la paciencia. Sin paciencia no hay progreso”<span class="autor">Pablo Uribe</span></p>
  </section>
</div>
