<div class="width-70 center margin-top20">
  <section id="about">
    <p>
      "Aprende Programación" es un apasionante proyecto cuyo objetivo principal
      es enseñar las bases de la programación con el fin de capacitar a las
      personas en el fascinante mundo de la programación y las tecnologías de la
      información.
    </p>
    <p>
      Nos enfocamos en proporcionar un aprendizaje práctico y accesible para
      aquellos que se están iniciando en el campo de la programación. Creemos
      firmemente que todos pueden aprender a programar, independientemente de su
      nivel de conocimiento previo o experiencia técnica.
    </p>
    <p>
      La programacion es el proceso de llevar una idea tecnologica hacia su
      existencia, pero como todo proceso, tiene sus altibajos, sus frustraciones
      y sus victorias. Lo que realmente importa es como las manejamos.
    </p>
    <p>
      Originalmente conocido como "Programación desde 0", este proyecto surgió
      como un ambicioso semillero de desarollo web. Con el objetivo de
      proporcionar una guía clara y accesible para aquellos que se adentraban en
      el mundo de la programación, el proyecto se centró en enseñar los
      fundamentos de la programación a través de tutoriales, ejemplos prácticos
      y ejercicios interactivos.
    </p>
    <p>
      A medida que "Programación desde 0" fue ganando popularidad y atrayendo a
      una creciente comunidad de estudiantes entusiastas, el proyecto comenzó a
      evolucionar y expandirse. Con el objetivo de llegar a un público aún más
      amplio y ofrecer una experiencia de aprendizaje enriquecedora, el proyecto
      dio un paso adelante y se transformó en "Aprende Programación".
    </p>
    <p>
      Bajo el nuevo nombre, "Aprende Programación" continúa su misión de
      proporcionar recursos educativos de calidad para aquellos interesados en
      adquirir habilidades de programación. Nuestra plataforma en línea ofrece
      una amplia gama de cursos, tutoriales y proyectos prácticos, diseñados
      para adaptarse a diferentes niveles de experiencia y áreas de interés
      dentro del campo de la programación.
    </p>
    <p>
      Estamos emocionados por el crecimiento y la evolución que ha experimentado
      "Aprende Programación" desde sus humildes comienzos como "Programación
      desde 0". Nuestro compromiso sigue siendo el mismo: ofrecer una educación
      en programación accesible, práctica y orientada a resultados, para que
      cualquier persona pueda embarcarse en el emocionante viaje de dominar la
      programación.
    </p>
    <p>
      Únete a nosotros en "Aprende Programación" y descubre las infinitas
      posibilidades que la programación tiene para ofrecer. Ya sea que desees
      impulsar tu carrera, emprender nuevos proyectos o simplemente explorar un
      nuevo campo, estamos aquí para apoyarte en cada paso del camino. Juntos,
      podemos alcanzar nuevos niveles de conocimiento y crecimiento en el
      fascinante mundo de la programación.
    </p>
  </section>
</div>