<section class="tema">
  <h3>Historia</h3>
  <p>La programacion moderna es un campo muy reciente. Los lenguajes que conocemos hoy en dia como java, C# y python, no siempre existieron.
  </p>
  <p>La programacion se remonta a mediados del siglo XIX. En 1843 Ada Lovelance, una matematica britanica, Creó un algoritmo para obtener los numeros de Bernoulli, que son una sucesion de numeros racionales que tienen relacion en la teoria de numeros.</p>
  <div class="image right">
    <img src="assets/img/historia_turing.jpeg" alt="">
  </div>
  <p>Casi un siglo despues, en 1936 Alan Turing creó una maquina para determinar si una sentencia matematica es verdadera o falsa. Con la maquina se demostró que existen problemas que un computador digital no es capaz de resolver.</p>
  <div class="fix"></div>
  <div class="image left">
    <img src="assets/img/historia_tarjeta.jpeg" alt="">
  </div>
  <p>En 1960, con la llegada de los promeros computadores con electricidad, se usaron tarjetas perforadas para escribir los programas y solo se podia escribir uno por tarjeta, por lo que debian llevar varias tarjetas para varios programas.</p>
  <p>Si una tarjeta se perforaba mal, tenía que ser tapada (parchada), de ahi sale la expresion de parche, arreglo de un bug.</p>
  <p>Despues de estas tarjetas, con la evolucion de la tecnologia se crearon los primeros lenguajes de programacion reales como C, C++, Basic, entre otros. Esto dio lugar a una mayor facilidad para desarrollar software y una mejor estabilidad del mismo.</p>
  <p class="cita">“Si puedes imaginarlo, puedes programarlo”<span class="autor">Alejandro Taboada (Q.E.P.D)<br> Canal de Youtube PROGRAMACION ATS</span></p>
</section>
