<section class="tema">
  <h3>Estados en Git</h3>
  <p>Cuando trabajamos con git, hay que tener presente que un archivo puede tener diferentes estados dependiendo de la
    situacion.</p>
  <p>los cuatro estados principales son <span class="keyword">Untracked</span>, <span class="keyword">Modified</span>,
    <span class="keyword">staged</span> y <span class="keyword">Committed</span>. Cada uno de ellos tiene una función
    especifica.
  </p>
  <p>Cuando un archivo tiene estado <span class="keyword">Untracked</span>, significa que no está siendo rastreado por
    Git, es decir, git sabe que existe pero no tiene informacion de ese archivo. Esto es comun cuando el archivo es
    creado, puesto que no existe informacion de un archivo nuevo.</p>
  <p>Cuando hablamos de un archivo <span class="keyword">Modified</span>, estamos ante un archivo que ya es reconocible
    por git, ya que tiene por lo menos una versión guardada. Ademas tiene cambios que no han sido guardados, por lo que
    Git nos invita a guardarlos.</p>
  <p>Si estamos ante un archivo <span class="keyword">Staged</span>, nos referimos a un archivo en sala de espera, ya
    que se encuentra eperando a que, con otros archivos, pueda ser guardado como una version.</p>
  <p>Finalmente nos encontramos con el estado <span class="keyword">Committed</span>, el estado que indica que todos los
    cambios están guardados y no hay nada para actualizar. Este es el estado en el que permanecen los archivos hasta que
    se detecta otro cambio.</p>

  <div class="video-complete">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/bA_USEA4HrM" title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
</section>
