<section class="tema">
  <h3>Funciones y Procedimientos</h3>
  <p>Las funciones son estructuras que nos permiten guardar un bloque de codigo para utilizarlo posteriormente en nuestro programa. Estos bloques de codigo cumplen una funcionalidad especifica, por ejemplo hallar una potencia o verificar si un numero es primo o no.</p>
  <p>Estas funciones devuelven (retornan) un valor, que puede ser de cualquier tipo de dato. Sin embargo, existe una particularidad de las funciones que no tienen retorno, se les conoce como procedimientos.</p>
  <p>Un procedimiento es un tipo de funcion, que al no tener retorno no podemos guardar ningun valor. Por ejemplo llenar un arreglo o mostrar ciertos datos en consola.</p>
  <div class="video-complete">
    <iframe width="782" height="384" src="https://www.youtube.com/embed/_AoRUUNyeLA" title="Funciones y Procedimientos en C++ | Programación desde 0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <br><br><br>
  <h3>Principio de responsabilidad única o atomizacion de funciones</h3>
  <p>Este principio nos dice que las funciones que creamos deben tener una unica tarea que realizar, de manera que esta se pueda reutilizar en funcionalidades similares.</p>
  <p>Por ejemplo, si queremos crear una funcion para llenar un arreglo, podríamos tambien mostrar dicho arreglo en la misma funcion, sin embargo es muy mala practica (incluso se podría considerar un error grave), ya que las funciones son estructuras diseñadas para la modularidad, es decir, encapsular fragmentos de codigo.</p>
</section>
