#header {
  width: 100%;
  height: 120px;
  border-top: 5px solid #036d19;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: white;
  box-shadow: none;
}
#header a{
  text-decoration: none;
  color: #000;
}
#logo {
  background-color: white;
  z-index: 200;
  float: left;
  position: relative;
  display: flex;
  align-items: center;
  width: 350px;
  height: 100%;
}
#logo img {
  height: 40px;
}
#logo span {
  margin-left: 10px;
  font-size: 20px;
}
#logo strong{
  color: #036d19;
}
#menu {
  z-index: 100;
  overflow: hidden;
  float: right;
  width: 350px;
  height: 100%;
}

#menu ul {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
  width: 100%;
}

#menu li {
  display: block;
  height: 90%;
  width: calc((100%)/3);
}
#menu a{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #000;
  animation: encoger .1s linear;
  font-size: 16px;
}
@keyframes encoger{
  0%{
    font-size: 20px;
  }
  100%{
    font-size: 16px;
  }
}

#menu a:hover{
  color: #036d19;
  border-bottom: 3px solid #036d19;
  animation: expandir .1s linear;
  font-size: 20px;
  transition: all .1s;
  text-transform: uppercase;
}
@keyframes expandir{
  0%{
    font-size: 16px;
  }
  100%{
    font-size: 20px;
  }
}

/*Corte1*/
@media (max-width: 1003px) {
  #header {
    min-height: 60px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #logo {
    width: 100%;
    background-color: white;
    justify-content: center;
  }
  .center{
    width: 100%;
  }
  .show-header{
    background-color: white;
    animation: showbar .3s linear;
    top: 60px;
    position:absolute;
  }
  @keyframes showbar {
    from {
      top: 0;
    }
    to{
      top: 60px;
    }
  }
  .hide-header{
    background-color: white;
    position: absolute;
    animation: hidebar .3s linear;
    top: 0;

  }
  @keyframes hidebar {
    from {
      top: 60px;
    }
    to{
      top: 0;
    }
  }
  #logo, #menu {
    height: 60px;
    float: none;
    margin: 0 auto;
    width: 100%;
  }

}
