<header id="header">
  <div id="center" class="center width-70">
    <a [routerLink]="['/']">
      <div id="logo">
        <img src="assets/img/ap-logo.png" alt="logo">
        <span class="logo-text">Aprende<strong>Programación</strong></span>
      </div>
    </a>
    <nav id="menu" class="show-header">
      <ul>
        <li><a [routerLink]="['/']">Inicio</a></li>
        <li><a [routerLink]="['/aprende']">Aprende</a></li>
        <li><a [routerLink]="['/retos']">Retos</a></li>
        <li><a [routerLink]="['/about']">Acerca de</a></li>
      </ul>
    </nav>
  </div>
</header>
