<div class="width-70 center margin-top20">
  <section class="devs margin-top20">
    <aside>
      <div>
        <img src="assets/img/logo.jpg" alt="">
      </div>
      <div class="dev-data">
        <span>Pablo Uribe Zuluaga</span>
        <span>Ingeniero de Sistemas (Estudiante)</span>
        <span>Universidad Autonoma de Manizales</span>
      </div>
    </aside>
    <div class="dev-main">
      <p>
        Antes que nada me presento...
        Me llamo Pablo Uribe Zuluaga. Soy estudiante de Ingeniería de Sistemas en la <a href="https://autonoma.edu.co"
          class="keyword" target="_blank">Universidad Autonoma de Manizales</a>.
      </p>
      <p>
        Mi aficion por los computadores y la tecnologia en general empezó desde muy pequeño. Me gustaba explorar y hacer
        experimentos con un computador que tenía en mi casa.
      </p>
      <p>
        Un poco despues aprendí a instalar programas, así que yo era el que instalaba todo en mi casa. También mis
        padres me pedían ayuda (aún me la piden) para hacer tareas que yo consideraba sencillas.
      </p>
      <p>
        Mi primer acercamiento a la programacion fue en el colegio, cuando estaba en grado octavo. El profesor de
        sistemas nos enseñó como se veía una página web por debajo y luego nos enseñó a poner nuestro primer 'h1' en
        <span class="keyword" style="cursor: pointer;"
          onclick="alert('HTML significa HyperText Markup Language. Es un lenguaje de etiquetas que sirve para estructurar una pagina web.')">HTML</span>.
      </p>
      <p>
        Durante ese año me enseñaron mas de lo que me habían enseñado en toda mi vida en el colegio (en la asignatura de
        sistemas), así que cuando entré a noveno, descubrí el curso de programacion basica de <a
          href="https://platzi.com" class="keyword" target="_blank">Platzi</a> a traves de <a href="https://apps.co"
          class="keyword" target="_blank">apps.co</a>.
      </p>
      <p>
        En ese cuso entendí mucho mejor la programacion y comencé a practicar creando ejercicios y herramientas. Cuando
        finalmennte entré a la universidad, ya sabía mas del 70% de lo que se ve en primer semestre de programación y
        algo de programacion orientada a objetos, por lo que los primeros semestres se me hicieron algo sencillos.
      </p>
      <p>
        Descubrí que la mejor manera de aprender a programar es practicando lo que aprendemos creando proyectos pequeños
        y herramientas. <br>
        Yo mismo pensaba algo como: 'Sería bueno tener una herramienta para calcular el promedio de notas y cuanto
        necesito en el tercer corte para pasar'. <br>
        Luego, recordaba que sabía programar, sacaba el computador y creaba la herramienta.
      </p>
      <p>
        Ese metodo de aprendizaje es muy efectivo porque aparte de estar motivado por crear algo que tú mismo pensaste,
        te obliga a investigar cosas como
        <i style="font-weight: lighter;">'¿Cómo logro que el usuario pueda ingresar las notas al mismo tiempo?'</i> o <i
          style="font-weight: lighter;">'¿Cómo capturar los datos que un usuario ingresa por formulario html, pasarlo a
          javascript, procesarlo e imprimir desde javascript en html?'</i>
      </p>

      <p class="cita">“La virtud mas grande de un programador es la paciencia. Sin paciencia no hay progreso”<span
          class="autor">Pablo Uribe</span></p>

    </div>
    <div class="fix"></div>
  </section>
</div>