<section class="tema">
  <h3>Ciclos While</h3>
  <p>Los ciclos son estructuras que nos permiten repetir un bloque de código tantas veces como se requiera. Existen tres estructuras de ciclos: while, do-while, for. Cada una de ellas tiene su respectivo uso como veremos a continuacion.</p>
  <p>Los ciclos while y do-while nos permiten ejecutar un bloque de código mientras se cumple una condicion especifica, esta condicion se debe especificar de modo que el ciclo no sea infinito.</p>
  <br>
  <h3>WHILE</h3>
  <div class="video-complete">
    <iframe width="782" height="384" src="https://www.youtube.com/embed/Fxvuzpw7QSQ" title="Ciclos While en C++ | Programación desde 0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <br>
  <h3>DO-WHILE</h3>
  <div class="video-complete">
    <iframe width="782" height="384" src="https://www.youtube.com/embed/pu9Jhmv3n1c" title="Ciclos Do - While en C++ | Programación desde 0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <p>La diferencia entre while y do-while es que los ciclos while preguntan primero si la condicion se cumple y en caso afirmativo ejecutan las instrucciones que se encuentren dentro, mientras que el do-while ejecuta primero el codigo y luego evalua la condicion, asi que do-while se ejecuta siempre por lo menos una vez.</p>
</section>
