.reto {
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
}

.reto .content {
  background-color: white;
  width: 70%;
  height: auto;
  max-height: 80%;
  padding: 30px;
  overflow: auto;
}

.reto .content .title {
  display: flex;
  height: auto;
  padding: 10px 0;
  margin-bottom: 10px;
}

.reto .content .title h3 {
  margin-right: auto;
}

.reto .btn-cerrar {
  width: 10%;
  max-width: 40px;
  margin-left: auto;
  border: none;
  background-color: white;
  cursor: pointer;
}

.reto .btn-cerrar img {
  width: 100%;
}

.reto .description {
  margin-bottom: 20px;
}

.reto button.solucion {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  font-weight: bolder;
  background-color: white;
  border: .5px solid #aaa;
}

.reto button.solucion:hover {
  color: white;
  background-color: #09a129;
  border: .5px solid #fff;
}
