<section class="tema">
  <h3>Trabajo Colaborativo</h3>
  <p>Una de las grandes caracteristicas de GitHub es la facilidad para trabajar con otros desarrolladores en un proyecto. ya que nos brinda diversas herramientas que nos ayudan a ver los cambios, quien los ha realizado, entre otras.</p>
  <p>Ademas permite un espacio para documentacion con el lenguaje <span class="keyword">MARKDOWN</span> a traves de los archivos 'README.md' para que los demas usuarios que entren al repositorio, se puedan poner al tanto de lo que van a encontrar.</p>
  <br>
  <p>En la seccion anterior, creamos un repositorio en GitHub y subimos lo que habíamos trabajado a lo largo del curso. Ahora vamos a compartir el repositorio con otro usuario para permitirle hacer cambios en el mismo.</p>
  <div class="video-complete">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/DS2qw5ia14g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <br>
  <p>Trabajar en equipo puede llevar a errores en el codigo debido a los conflictos que se presentan en nuestro codigo, ya sea por falta de comunicacion u otros motivos. Por esto hay que saber como podemos trabajar con las ramas para que la historia del proyecto sea ordenada, limpia, y sobre todo no llevar bugs a la rama de produccion o la rama que los usuarios finales ven.</p>
  <p>Algunos consejos para trabajar en equipo son:</p>
  <br>
  <ol>
    <li>Trabajar en ramas separadas a la rama de produccion para evitar que los usuarios finales vean errores.</li>
    <li>Una funcionalidad a la vez, si son varios desarrolladores, trabajar cada uno en una funcionalidad (Usar ramas para cada funcionalidad y luego fusionar en una rama diferente a produccion)</li>
    <li>Al solucionar conflictos, es recomendable hablar con el/los desarrollador/es que hayan trabajado en el codigo que están intentando solucionar. (No elimines siempre el trabajo de tus compañeros por querer poner el tuyo, probablemente el de ellos sea mucho mejor para el proyecto)</li>
  </ol>
  <div class="video-complete">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/3lMiYKZUt1s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</section>
