<section class="tema">
  <h3>GIT</h3>
  <p>Bienvenido al curso de Git. Vas a aprender a utilizar una herramienta muy util e importante en la programacion.</p>

  <p>En este curso vas a ver todo desde cero, no necesitas conocimientos aparte de saber que es un bloc de notas y uso
    basico de navegador para tomarlo.</p>
  <div class="video-complete">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/I2qaNPecvNQ" title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
  <br>
  <h3>¿Qué es GIT?</h3>
  <p>Git es un <span class="keyword">Software de control de versiones</span> que permite a los desarrolladores tener un
    historial de todos los cambios que se hacen en un proyecto.</p>
  <p>En términos sencillos es una base de datos donde se almacenan todos los cambios de nuestro proyecto de software.
  </p>
  <div class="video-complete">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/HN0vYnuaYIQ" title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
  <p>Git se encarga de guardar todos los cambios, cualquier modificación que esté al alcance este software va a ser
    detectado y almacenado en la base de datos. Esto nos ayuda a controlar mejor nuestro código para, en caso de
    necesitarlo, poder volver a un punto anterior del proyecto, revisarlo, modificarlo, e incluso crear un codigo
    totalmente diferente.</p>
  <br>
  <h3>Historia</h3>
  <p>Git fue desarrollado por Linus Torvalds, el creador del Kernel de Linux, con el fin de gestionar este último.</p>
  <p>si bien ya se tenían herramientas para gestion de versiones, ninguna se ajustaba al proyecto de Linus, por lo que
    decidió crear su propio Software de control.</p>
  <p>Así, en el año 2005 salió Git, un software innovador, rapido, multiplataforma, que ademas tuviera una manera de
    separar el desarrollo en diferentes lineas de tiempo.</p>
  <p>Hoy en dia git es el sistema de cotrol de versiones mas popular, siendo usado por casi todos los desarrolladores a
    nivel mundial.</p>
</section>
