.fix{
  clear: both;
  float: none;
}
.center {
  margin: 0 auto;
}
.width-70{
  width: 70%;
  height: 100%;
}
.margin-top20{
  margin-top: 20px;
}
.tema {
  line-height: 30px;
  float: left;
  width: 65%;
  padding: 0 20px;
}
.keyword {
  text-decoration: none;
  color: #09a129;
}
.keyword:hover {
  text-decoration: underline;
  color: #18a036;
  font-weight: bold;
}
.tema h3 {
  font-size: 20px;
  line-height: 40px;
}
.tema p {
  margin-top: 20px;
  font-size: 18px;
}
.retos {
  line-height: 30px;
  float: left;
  width: 65%;
  padding: 0 20px;
}
.retos h3 {
  font-size: 20px;
  line-height: 40px;
}
.retos p {
  margin-top: 20px;
  font-size: 18px;
}
.retos ul{
  width: 100%;
}
.retos ul li{
  display: block;
  width: 100%;
  height: 70px;
  list-style: none;
  border-top: .5px solid #aaa;
}
.retos ul li:last-child{
  border-bottom: .5px solid #aaa;
}
.retos ul li a{
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px;
  text-decoration: none;
}
.retos ul li a:hover{
  background-color: #eee;
  cursor: pointer;
}
.video{
  position: relative;
  overflow: hidden;
  width: 45%;
  padding-top: 25%;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.video-complete{
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
.video-complete iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.image{
  width: 40%;
}
.image img {
  width: 100%;
}
.image-complete{
  width: 100%;
}
.image-complete img {
  width: 100%;
}
.right{
  float: right;
  margin: 30px 0 25px 15px;
}
.left{
  float: left;
  margin: 30px 15px 25px 0;
}
.cita{
  margin: 0;
  padding: 0;
  width: 100%;
  margin: 20px 0;
  padding: 20px;
  background: #ccc;
  border-left: 10px solid #0a2e36;
  font-style: italic;
}
.cita span.autor{
  font-style: normal;
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: right;
}
.table{
  width: 100%;
}
.table tr{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.table tr td:nth-child(2){
  display: block;
  padding-left: 60px;
}
.table tr:nth-child(odd){
  background-color: #9df88f;
}
.table tr:first-child{
  font-weight: bolder;
  background-color: #83ff70;
  font-size: 17px;
}
.table tr:nth-child(even){
  background-color: #bfffb5;
}
.table td{
  color: #0a2e36;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table .table-items{
  display: flex;
  flex-direction: column;
}
.table .table-items span{
  width: 100%;
  line-height: 20px;
  margin: 10px 0;
}
.ordered{
  background-color: #0a2e36;
  color: #ccc;
  padding: 20px 50px;
  font-size: 19px;
}
.ordered li{
  line-height: 50px;
  list-style: circle;
}
.code {
  width: 100%;
  margin: 30px 0;
}
.code img{
  width: 100%;
}


.reto{
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
}
.reto .content{
  background-color: white;
  width: 70%;
  height: auto;
  max-height: 80%;
  padding: 30px;
  overflow: auto;
}
.reto .content .title{
  display: flex;
  height: auto;
  padding: 10px 0;
  margin-bottom: 10px;
}
.reto .content .title h3{
  margin-right: auto;
}
.reto .btn-cerrar{
  width: 10%;
  max-width: 40px;
  margin-left: auto;
  border: none;
  background-color: white;
  cursor: pointer;
}
.reto .btn-cerrar img{
  width: 100%;
}
.reto .description{
  margin-bottom: 20px;
}
.reto button.solucion{
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  font-weight: bolder;
  background-color: white;
  border: .5px solid #aaa;
}.reto button.solucion:hover{
  color: white;
  background-color: #09a129;
  border: none;
}

.lista {
  font-size: 18px;
  padding-left: 30px;
}
.lista li {
  margin-top: 20px;
  list-style:circle;
  text-align: justify;
}
.lista .list-title {
  font-weight: bolder;
  display: inline-block;
  margin-bottom: 15px;
}


@media (max-width: 1025px) {
  .width-70{
    width: 90%;
  }
  .tema{
    width: 100%;
    float: none;
  }
  .retos{
    width: 100%;
    float: none;
  }
  .left, .right{
    float: none;
    margin: 20px auto;
    width: 100%;
  }
  .left img , .right img{
    margin: 0 auto;
  }
  .video {
    padding-top: 56.25%;
  }
  .reto .content{
    height: auto;
    width: 90%;
  }

}
