<section id="cursos">
  <div [routerLink]="['/aprende/antes-de-iniciar']">
    <img src="assets/img/courses/ADI_Course.jpg">
    <span>Antes de Iniciar</span>
  </div>
  <div [routerLink]="['/aprende/fundamentos']">
    <img src="assets/img/courses/Fundamentos_Course.jpg">
    <span>Fundamentos</span>
  </div>
  <div [routerLink]="['/aprende/git']">
    <img src="assets/img/courses/Git_Course.jpg">
    <span>Git</span>
  </div>
  <!-- <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div> -->
</section>