<section class="tema">
  <h3>¿Que aprenderás?</h3>
  <p>Esta guía está diseñada para que aprendas los conceptos basicos de la programacion.</p>
  <p>No es necesario tener conocimientos, ya que todos los contenidos están hechos con explicaciones de como funciona cada estructura, cada elemento de la programacion.</p>
  <p>Empezaremos con una explicacion acerca de como funciona la programación a nivel de electricidad.</p>
  <p>Veremos como configurar el entorno con el que trabajaremos, y algunas utilidades del mismo</p>
  <p>Despues de configurar el entorno, aprenderemos a usar variables, entradas y salidas.</p>
  <p></p>
</section>
