#form{
  margin: 20px 0;
  width: 50%;
  background-color: #ccc;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#form input{
  width: 80%;
  margin: 3px 0;
  border: none;
  padding: 4px;
}
#form input:first-child:focus{
  border-bottom: 2px solid #036d19;
  outline: none;
}

@media (max-width: 700px){
  #form{
    width: 100%;
  }
}
