<section class="tema">
  <h3>Librerias</h3>
  <p>Una libreria es un conjunto de funcionalidades que se agregan a nuestros programas desde fuentes externas, ya que se escriben en archivos diferentes al programa principal.</p>
  <p>Las librerías pueden ser escritas por cualquier programador y pueden ser descargadas dependiendo de lo que el programa requiera. También pueden estar incluidas en los compiladores, como es el caso de C++.</p>
  <p>El compilador que descargamos al iniciar este curso, incluye algunas librerias con muchas funcionalidades. Un ejemplo es la librería 'iostream', que nos permite usar 'cout', 'cin', y otros elementos muy utiles.
  </p>
  <div class="video-complete">
    <iframe width="782" height="384" src="https://www.youtube.com/embed/5HzpKKD-fn0" title="Librerías para C++ | Programación desde 0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <p>Las librerías sirven para ahorrar tiempo, ya que en lugar de escribir toda una funcion en diferentes programas, solo importamos la librería e invocamos la función.
  </p>
  <p>Tambien nos ayudan con funcionalidades que requieran algoritmos muy complejos, debido que no es sencillo crear todo tipo de algoritmos desde cero.</p>
</section>
