<section class="retos">
  <ul>
    <li>
      <a (click)="openSumar()">
        <h4>Sumar dos Numeros</h4>
        <span>Facil</span>
      </a>
    </li>
    <li>
      <a (click)="openSacarMod()">
        <h4>Calcular residuo</h4>
        <span>Facil</span>
      </a>
    </li>
    <li>
      <a href=""></a>
    </li>
    <li>
      <a href=""></a>
    </li>
    <li>
      <a href=""></a>
    </li>
  </ul>
  <app-sumar-numeros-variables *ngIf="sumar"></app-sumar-numeros-variables>
  <app-sacar-modulo *ngIf="sacar_mod"></app-sacar-modulo>
</section>
