<section class="tema">
  <h3>Tipos de lenguajes</h3>
  <p>Como ya hemos visto, la programación es una manera de comunicarse con las máquinas, sin embargo la comunicación no se puede hacer de cualquier manera, ya que al final lo que estamos haciendo es cambiar el estado de los transistores del procesador, dejando pasar electricidad, o bloqueándola.</p>
  <p>Para eso existen los lenguajes de programación, pero antes de hablar de eso, tenemos que entender la siguiente imagen:</p>
  <div class="image right">
    <img src="assets/img/tipos-leng_complejidad.png" alt="">
  </div>
  <p>Los transistores son una especie de compuerta física que permite o bloquea el paso de electricidad a través de ellos. Estos se encuentran en el hardware.</p>
  <p>¿Pero cómo saben cuándo deben o no dejar pasar la electricidad? Esto se consigue a través de los famosos ceros y unos, o también conocidos como lenguaje binario, son los que representan el estado de los transistores (0 para bloqueo y 1 para flujo de electricidad).</p>
  <p>Pero nosotros como humanos no vamos a memorizar una infinidad de combinaciones posibles de unos y ceros para crear un programa, por eso, creamos una manera de darle instrucciones a las máquinas de forma que se pudiera leer de la manera más humana posible. De ahí salen los lenguajes de programación o lenguajes de alto nivel como los conocemos hoy en día. Estos lenguajes se pueden clasificar en dos categorías: Interpretados y compilados.</p>
  <p>Los lenguajes interpretados se ejecutan en tiempo real sin pasar por un proceso de compilacion. El programa solo lee y convierte las instrucciones en codigo maquina una por una y las ejecuta inmediatamente. Un ejemplo es Python.</p>
  <p>Los lenguajes compilados necesitan convertirse en código máquina antes de comenzar la ejecucion. Las instrucciones se ejecutan cuando el codigo completo se ha convertido en codigo que la maquina puede entender y eso hace que la ejecucion sea mas rapida. Un ejemplo es C++.</p>
  <p>Antes de pasar a ver Editores de Código, es necesario instalar el compilador de C++ (el lenguaje que se va a utilizar en este curso) para los siguientes módulos:</p>
  <div class="video left">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/sWACY8Qqc90" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <div class="video right">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ACqwrBev5x0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</section>
