<section class="tema">
  <h3>Operadores Logicos</h3>
  <p>Las decisiones son un elemento muy importante en la programación, ya que podemos realizar diferentes flujos dependiendo de lo que el usuario ingrese. Por ejemplo un menú con diferentes opciones, el usuario debe seleccionar una para que el programa muestre específicamente los datos de dicha opción.</p>
  <p>No obstante, debemos conocer un nuevo tipo de operación, estas se conocen como operaciones lógicas.</p>
  <p>Estas operaciones devuelven un tipo de dato booleano, que como ya vimos, se resume en verdadero o falso.</p>
  <div class="video-complete">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0LsQDoH1_0I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <p>Con los operadores de comparacion podemos validar expresiones, como por ejemplo si un numero es mayor que otro o si el contenido de una variable es igual a otra.</p>
  <p>Ahora vamos a ver los operadores de conjuncion y disyuncion que nos permiten hacer validaciones entre booleanos.</p>
  <div class="video-complete">
    <iframe width="782" height="384" src="https://www.youtube.com/embed/B19tQRdU-ms" title="Operadores de conjunción y disyunción en C++ | Programación desde 0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <p>Estos operadores nos permiten evaluar las expresiones de tipo booleano. De este modo, el programa puede tomar decisiones de una manera mas precisa.</p>
  <div class="image-complete">
    <img src="assets/img/op-logic_TablaAND-OR.png" alt="">
  </div>

</section>
