<section class="tema">
  <h3>Entrada</h3>
  <div id="form">
    <input id="input-name" type="text" placeholder="NOMBRE">
    <input type="submit" value="Enviar" onmouseover="this.style.cursor='pointer';" (click)="update()">
  </div>
  <p>Hola{{nombre}}, {{texto}}.</p>
  <p>En esto consiste una entrada, ingresas datos para que el programa los procese y pueda dar una respuesta.</p>
  <p>Un ejemplo muy sencillo es una calculadora, debemos ingresar operaciones para que nos devuelva un resultado.</p>
  <p>Mas adelante te explico como hacer una calculadora, por ahora te voy a mostrar como puedes solicitar datos en C++:</p>
  <div class="video-complete">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/tT0IjTC4TDY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <p>Como 'cout', tambien existe 'cin' (Console Input) que nos permite ingresar datos. Estos datos se almacenan en variables que pueden ser usadas posteriormente en el programa.</p>
  <p>En el siguiente modulo vamos a hablar de operadores aritmeticos.</p>
</section>
