<section class="tema">
  <h3>Pull Requests</h3>
  <p>Cuando trabajamos con GitHub, podemos simplemente mezclar ramas en git usando el comando 'git merge'. Pero esto no es buena practica ya que muchas veces deberiamos poder hacer revision de codigo para que uno o varios desarroladores nos den sugerencias sobre algo que esté mal hecho o simplemente para agregar o modificar algo.</p>
  <p>Para esto, Github cuenta con una herramienta llamada Pull Request. En lugar de hacer un merge directo, lo que hace es crear una especie de tarea en la que pide a otros desarrolladores que revisen el codigo, cuenta tambien con un chat en el que se pueden hacer sugerencias, solicitar cambios, entre otros.</p>
  <div class="video-complete">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/T0IYnQeSyrc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>

</section>
