<section class="tema">
  <h3>Repositorio</h3>
  <p>Repositorio es el nombre tecnico de la 'base de datos' donde se guardan los cambios.</p>
  <p>Para poder guardar los cambios, es necesario crear nuestro repositorio en el directorio (carpeta) desde donde
    queremos guardar. Por ejemplo, si tenemos una carpeta llamada 'PROYECTO' en el escritorio y dentro de ella iniciamos
    el repositorio, todos los archivos dentro de 'PROYECTO' van a ser reconocidos por git y por lo tanto almacenados.
  </p>
  <p>NINGUN archivo va a ser reconocido por git si se encuentra afuera de la carpeta donde se inicializó el repositorio.
    Solo son reconocidos los archivos dentro del directorio y todos sus subdirectorios.</p>
  <p>Para inicializar un repositorio, debemos movernos al directorio deseado desde la terminal y posteriormente
    ejecutar:</p>
  <code>
    <li>git init</li>
  </code>
  <p>Para verificar si todo salió bien debes ejecutar:</p>
  <code>
    <li>ls -a</li>
  </code>
  <p>debería salir una carpeta llamada:</p>
  <code>
    <li>.git/</li>
  </code>
  <br>
  <p>La carpeta '.git' es una carpeta oculta que contiene toda la informacion de cambios en el repositorio, por lo tanto
    no se debe modificar ya que al hacerlo, podria dañar el repositorio.</p>


  <div class="video-complete">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/q5KFFryNjvw" title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
</section>
