<div class="reto">
  <div class="content">
    <div class="title">
      <h3>Sumar numeros</h3>
      <button class="btn-cerrar" (click)="close()"><img src="assets/img/icons/close.png" alt=""></button>
    </div>
    <hr>
    <div class="description">
      <p>Escribe un programa que le pida al usuario que ingrese dos números, los sume y muestre el resultado.</p>
    </div>
    <button class="solucion" (click)="solution()">SOLUCION</button>
    <div class="image-complete" *ngIf="sol">
      <img src="assets/img/retos_basico_suma.png" alt="solucion suma">
    </div>
  </div>
</div>
