<section class="tema">
  <h3>Terminal</h3>
  <p>Antes de continuar con Git, hay que tener algún conocimiento de terminal. Si bien es posible utilizar git desde una
    interfaz como la de visual studio code, no es recomendable acostumbrarse a ella, ya que aunque parezca mas sencillo
    e
    intuitivo, no tiene todas las herramientas debido a que Git fue desarrollado para ser usado desde terminal.</p>
  <p>La terminal nos otorga la capacidad de acceder a lugares de nuestro computador que no son accesibles desde una
    interfaz grafica. Además, la terminal permite manipular configuraciones que no son accesibles desde una GUI.</p>
  <p>Como este no es un curso profesional de terminal, vamos a ver lo mas basico.</p>
  <div class="video-complete">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PNjDStAve4M" title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
</section>