<section class="tema">
  <h3>Condicionales</h3>
  <p>Existen varias estructuras que nos permiten alterar el flujo de nuestro programa, dependiendo de una condición dada.</p>
  <br>
  <h3>Operador Ternario</h3>
  <p>El operador condicional nos permite tomar decisiones en el codigo dependiendo de un booleano. Por ejemplo si un numero es mayor que otro, el programa hace una cosa, pero si no, entonces hace otra. A continuacion te explico como funciona.</p>
  <div class="video-complete">
    <iframe width="782" height="384" src="https://www.youtube.com/embed/vcMJ_Vml3oA" title="Operador Condicional en C++ | Programación desde 0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <br>
  <h3>if - else</h3>
  <p>Este tipo de condicional nos permite hacer diferentes flujos basados en un valor booleano, y ejecutar ciertas instrucciones dependiendo de su valor.</p>
  <div class="video-complete">
    <iframe width="782" height="384" src="https://www.youtube.com/embed/41bQObGhg4c" title="Condicionales en C++ - IF ELSE | Programación desde 0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <p>Para este tipo de condicional se pueden tener muchas condiciones usando 'else - if', pero hay casos donde no es practico, como por ejemplo cuando una variable puede tomar diferentes valores y por cada valor se ejecutan diferentes instrucciones. Para este tipo de casos es mejor utilizar el 'switch'.</p>
  <br>
  <h3>switch</h3>
  <p>El 'switch' es una estructura condicional derivada de 'if', ya que nos permite hacer comparaciones cuando una variable es exactamente igual a un valor. No funciona cuando queremos verificar mayor y menor.</p>
  <div class="video-complete">
    <iframe width="782" height="384" src="https://www.youtube.com/embed/qcNkc1Lb5rI" title="Condicionales en C++ - SWITCH | Programación desde 0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <p>Esta estructura es muy util para hacer menús donde el usuario deba seleccionar una opcion entre muchas.</p>
</section>
