<footer id="footer">
  <div class="center width-70">
    <div class="part">
      <a [routerLink]="['desarrolladores/pablo-uribe-zuluaga']" (click)="scrollTop()" class="author-info">
        <img src="assets/img/logo.jpg" alt="">
        <span>Pablo Uribe Zuluaga</span>
      </a>
      <br>
      <!-- <a href="#" class="author-info">
        <img src="assets/img/logo.jpg" alt="">
        <span>Samuel López Sanabria</span>
      </a> -->
    </div>
    <div class="part">
      <a href="https://youtube.com/@pablouribezuluaga" target="_blank" class="img">
        <img src="assets/img/yt_logo.png" alt="">
        <span>YouTube</span>
      </a>
      <a href="https://github.com/PabloUZ" target="_blank" class="img">
        <img src="assets/img/gh_logo.png" alt="">
        <span>Github</span>
      </a>
      <a href="https://www.linkedin.com/in/pablo-uribe-zuluaga-9893b7240/" target="_blank" class="img">
        <img src="assets/img/linkedin.png" alt="">
        <span>LinkedIn</span>
      </a>
    </div>
  </div>
</footer>
