<div class="reto">
  <div class="content">
    <div class="title">
      <h3>Calcular cuadrado</h3>
      <button class="btn-cerrar" (click)="close()"><img src="assets/img/icons/close.png" alt=""></button>
    </div>
    <hr>
    <div class="description">
      <p>Escribir un programa que calcule el cuadrado de un numero ingresado por el usuario.</p>
    </div>
    <button class="solucion" (click)="solution()">SOLUCION</button>
    <div class="image-complete" *ngIf="sol">
      <img src="assets/img/retos_basico_cuadrado.png" alt="solucion cuadrado">
    </div>
  </div>
</div>
