#menu {
  position: fixed;
  right: 70px;
  top: 150px;
  float: right;
  border: none;
  width: 30%;
  box-shadow: 5px 5px 20px #444;
}

.show {
  overflow: hidden;
  animation: mostrar normal .2s linear;
  height: auto;
}

@keyframes mostrar {
  from {
    height: 0;
  }

  to {
    height: 500px;
  }
}

.hide {
  overflow: hidden;
  animation: ocultar normal .2s linear;
  height: 0;
}

@keyframes ocultar {
  from {
    height: 500px;
  }

  to {
    height: 0;
  }
}

#menu ul {
  max-height: 200px;
  overflow-y: scroll;

}

#menu li {
  list-style: none;
  width: 100%;
  height: 40px;
}

#menu a {
  text-decoration: none;
  color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0;
}

#menu a:hover {
  background: #eee;
  border-left: 5px solid #036d19;
}

#menu span {
  padding: 0 20px;
  display: flex;
  align-items: center;
  width: 90%;
  height: 100%;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0 20px;
  border-left: .5px solid #6ee586;
  animation: disminuir .1s linear;
}

#menu a:hover span {
  margin-left: 15px;
  padding-left: 30px;
  animation: aumentar .2s linear;
}

@keyframes aumentar {
  from {
    padding-left: 20px;
  }

  to {
    padding-left: 30px;
  }
}

@keyframes disminuir {
  from {
    padding-left: 30px;
  }

  to {
    padding-left: 20px;
  }
}

.titulo-menu {
  cursor: pointer;
  border: none !important;
  border-top: 1px solid #ccc !important;
  background: #036d19;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bolder;
  width: 100% !important;
  height: 50px !important;
  display: flex !important;
  align-items: center !important;
  padding: 0 20px;
}

@media (max-width: 1025px) {
  #menu {
    position: static !important;
    float: none;
    width: 100%;
    margin-bottom: 30px;
  }
}

.titulo-menu:focus {
  outline: none;
}
