<section class="tema">
  <h3>Salida</h3>
  <p>Todos los procesos de un programa tienen un resultado final que se puede almacenar en la memoria del equipo o puede tener una respuesta inmediata. ¿Pero cómo acceder a esa información? Para eso existe lo que se conoce como salida de un programa, que no es nada más que lo que podemos ver. Un ejemplo es este mismo texto que estás viendo. Hay un código interno que muestra lo que contiene la pagina.</p>
  <p>C++ es un lenguaje compilado que no permite desarrollar interfaz gráfica, por eso es que nunca vas a ver una ventana con botones hecha en C++, sino que vas a trabajar mediante una terminal. así que su salida estándar sólo será texto por consola.</p>
  <p>A continuación vamos a crear nuestro primer programa con salida estándar en C++:</p>
  <div class="video-complete">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/p1AAxHXSGW0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <p>La instruccion 'cout' (Console Output) de la libreria 'iostream' (input and output stream) nos permite mostrar en la consola lo que nosotros le indiquemos.</p>
  <p>Pero no solo podemos imprimir texto así como lo vimos en el video, sino que tambien podemos imprimir variables. te explico como se hace en el proximo modulo.</p>
</section>
