<section class="retos">
  <ul>
    <li>
      <a (click)="openModal('l1','suma')">
        <h4>Sumar dos Numeros</h4>
        <span>Facil</span>
      </a>
    </li>
    <li>
      <a (click)="openModal('l1','residuo')">
        <h4>Calcular residuo</h4>
        <span>Facil</span>
      </a>
    </li>
    <li>
      <a (click)="openModal('l1','cuadrado')">
        <h4>Calcular cuadrado</h4>
        <span>Facil</span>
      </a>
    </li>
    <li>
      <a (click)="openModal('l1', 'areaCuadrado')">
        <h4>Calcular area y perimetro de un cuadrado</h4>
        <span>Facil</span>
      </a>
    </li>
    <li>
      <a (click)="openModal('l1','areaCilindro')">
        <h4>Calcular el area de un cilindro</h4>
        <span>Facil</span>
      </a>
    </li>
    <li>
      <a (click)="openModal('l1','hipotenusa')">
        <h4>Calcular la hipotenusa</h4>
        <span>Facil</span>
      </a>
    </li>
  </ul>
  <app-modal *ngIf="modalView" [data]="modalInfo"></app-modal>
</section>
