<div class="reto">
  <div class="content">
    <div class="title">
      <h3>Calcular residuo</h3>
      <button class="btn-cerrar" (click)="close()"><img src="assets/img/icons/close.png" alt=""></button>
    </div>
    <hr>
    <div class="description">
      <p>Escribir un programa que calcule el residuo de la division de dos numeros.</p>
    </div>
    <button class="solucion" (click)="solution()">SOLUCION</button>
    <div class="image-complete" *ngIf="sol">
      <img src="assets/img/retos_basico_residuo.png" alt="solucion residuo">
    </div>
    <p *ngIf="sol">En la solucion fue necesario evaluar mediante un condicional si el numero2 era diferente de 0 para evitar un error de compilacion</p>
  </div>
</div>
