<section class="tema">
  <h3>Retos</h3>
  <p>En esta seccion encontraras multiples problemas distribuidos en varias categorias y niveles, los cuales te seran de mucha ayuda en tu proceso de aprendizaje.</p>
  <p>A lo largo de tu proceso de aprendizaje en el campo de la programacion te sera necesario no solo la adquisicion sino la puesta en practica de tu aprendizaje, por lo que aqui encuentras las herramientas perfectas para mejorar no solo tu logica, sino tambien tu capacidad para responder ante cualquier problema.</p>
  <!-- <p>Este apartado de retos esta dividido en: </p>
  <ul class="lista">
    <li><span class="list-title">Basico:</span><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt totam deserunt iusto aspernatur alias laborum pariatur quo ullam aliquid sint, libero voluptate earum nulla dignissimos dolorem ratione consequatur qui maxime?</li>
    <li><span class="list-title">Tecnicas:</span><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt totam deserunt iusto aspernatur alias laborum pariatur quo ullam aliquid sint, libero voluptate earum nulla dignissimos dolorem ratione consequatur qui maxime?</li>
    <li><span class="list-title">P.O.O:</span><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt totam deserunt iusto aspernatur alias laborum pariatur quo ullam aliquid sint, libero voluptate earum nulla dignissimos dolorem ratione consequatur qui maxime?</li>
  </ul> -->
</section>
