<section class="tema">
  <h3>¿Que es la programacion?</h3>
  <div class="image right">
    <img src="assets/img/def-prog_lenguajes.png" alt="">
  </div>
    <p>En términos generales, la programación es el medio por el cual le damos instrucciones a una máquina para que haga algo en especifico. Podríamos decir que es un mecanismo de comunicación entre el programador y la máquina.</p>

  <p>El objetivo de la programación es crear aplicaciones que faciliten y automaticen las tareas del dia a dia.</p>
  <p>Aprender a programar no es algo que suceda de la noche a la mañana, requiere mucho tiempo, pero sobre todo practica. Además existen muchos lenguajes de proogramación, por lo que es muy recomendable identificar la rama de interés y aprender los lenguajes pertinentes.</p>
  <p>De todas maneras si aprendes la logica, y un lenguaje, aprender otros va a ser mucho mas facil ya que todos los lenguajes de programacion tienen cosas en común.</p>
</section>
