<section class="tema">
  <h3>Arreglos</h3>
  <p>Los arreglos son estructuras que nos permiten almacenar mas de un dato, sirven para para guardar conjuntos de datos, como por ejemplo una lista de edades.</p>
  <p>Existen arreglos estaticos y arreglos dinamicos, pero en esta sección solo hablaremos de arreglos estaticos.</p>
  <p>Los arreglos estaticos en C++ son arreglos co un tamaño fijo, ya que C++ es muy estricto con el manejo de la memoria, así que al llenar el vector tenemos que tener mucho cuidado de no referenciar posiciones inexistentes, o lo que se conoce como desbordamiento</p>
  <div class="video-complete">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/80IWjwsjk6E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <br>
  <h3>Matrices</h3>
  <p>En terminos simples, una matriz es un arreglo compuesto <strong>DE</strong> arreglos, es decir, es un arreglo que en vez de contener valores, contiene otros arreglos.</p>
  <div class="image right">
    <img src="assets/img/matriz.png" alt="">
  </div>
  <p>Una matriz consta de una serie de valores (contenidos en arreglos antes vistos) dispuesta de manera rectangular, lo cual depende mayormente de el numero de filas y el de las columnas. Dicho de otra manera, una matriz es una manera de almacenar una serie de datos en 2 dimensiones. Esta compuesta por un numero dispuesto para las filas y otro para las columnas, por lo cual, si tenemos por ejemplo un 2, seguido de un 4, el primer numero supone que tenemos una matriz de 2 filas, y el segundo nos indica que tenemos una matriz de 4 columnas, con lo cual tendriamos una matriz de 2 por 4.</p>
  <p>Lo anterior esta mejor explicado en el video a continuacion: </p>
  <div class="video-complete">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/82mYRgPNjXM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</section>
