<section class="tema">
  <h3>Enfoques</h3>
  <p>En la programacion, es <strong>IMPOSIBLE</strong> saberlo todo, debido a la inmensa cantidad de lenguajes, frameworks y herramientas que existen. Es por esto que debemos buscar nuestro enfoque profesional.</p>
  <p>Las empresas buscan desarrolladores especializados en lo que ellas necesitan, así que debemos elegir un enfoque que se adecúe a nuestras habilidades, y por supuesto... Que nos agrade a nosotros.</p>
  <br>
  <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hay mucho para elegir</h3>
  <p>El mundo se mueve en gran medida gracias al software, por lo que cada vez hay mas puestos disponibles para nuevas areas.</p>
  <p>Por ejemplo, en los ultimos tiempos (y desde antes también), la ciberseguridad se volvió uno de los enfoques mas demandados por las empresas, ya que es cada vez mas necesaria la seguridad de la infrastructura empresarial a nivel de software.</p>
  <p>Otro enfoque muy demandado es el desarrollo web, que ha estado posicionado en los primeros puestos desde hace ya algún tiempo. A proposito, existen enfoques que requieren enfoques. El desarrollo web es uno de los mas amplios, ya que tiene muchos frameworks que trabajan de diferende manera, y es por esto que deberiamos especializarnos en alguna tecnologia especifica de desarrollo web</p>
  <h3>¿Que deberías aprender de acuerdo con el enfoque?</h3>
  <table class="table">
    <tr>
      <td>Enfoque</td>
      <td>Tecnologías</td>
    </tr>
    <tr>
      <td>Seguridad</td>
      <td><div class="table-items">
        <span>Python</span>
        <span>Linux</span>
        <span>Bash Scripting</span>
        <span>Redes</span>
      </div></td>
    </tr>
    <tr>
      <td>Web (Front End)</td>
      <td><div class="table-items">
        <span>HTML</span>
        <span>CSS</span>
        <span>JavaScript</span>
        <span>TypeScript</span>
        <span>NodeJS</span>
      </div></td>
    </tr>
    <tr>
      <td>Backend</td>
      <td><div class="table-items">
        <span>SQL</span>
        <span>no-SQL</span>
        <span>Servidores</span>
        <span>Redes (Protocolos)</span>
      </div></td>
    </tr>
    <tr>
      <td>Ciencia de Datos</td>
      <td><div class="table-items">
        <span>Python</span>
      </div></td>
    </tr>
  </table>
</section>
